/*------------------------------------------------------------------------------------*/
/*------FONT------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mina:wght@400;600;700&family=Quicksand:wght@400;600;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*------------------------------------------------------------------------------------*/





video {
    position: fixed;
    left: 0;
    top: 0;
    height:200%;
    z-index: -1;
  }
/*------------------------------------------------------------------------------------*/
/*-----NAVEGADOR-------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
nav{
    font-family: 'Quicksand', sans-serif;
    padding: 2px;
}

li{
    padding-left: 3px;
    padding-right: 3px;

    :hover{

        background-color: #4412a8;
    }
}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------*/
/*-----INICIO-------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
#Inicio{

    
   
    color: white;
    padding-top: 150px;
    
}

h1{

    font-family: 'Leckerli One', cursive;
    font-weight: 400;
   
}

#subtitulo_inicio{

    font-family: 'VT323', monospace;
    font-weight: 900;
    margin: 30px;
}

#contacto_inicio{

    scale:60%;

    :hover{

        cursor: pointer;
        scale: 120%;
    }
}


/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*---SOBRE MI---------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#SobreMi{
    margin-top: 250px;
    color: white;
}




#sobreMi_img_fotoPerfil{
    margin-top: -px;
    scale: 75%;
}



#sobreMi_img_cuadradoEstrella1{
    margin-left: 400px;
    scale: 30%;
    margin-top: -100px;
}

#sobreMi_img_cuadradoEstrella2{

    scale: 30%;
    margin-left: -400px;
    margin-top: -250px;
}
#foto{
    margin-top: -520px;
}

#fondo{
    margin-top: -150px;
}

h2{
    font-family: 'Mina', sans-serif;
    font-style: bold;
    margin: 5px;
}

p{
    font-family: 'Quicksand', sans-serif;
}

#inicio_tityParr{

    padding-top: 300px;
    padding-right: 200px;
    
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*---EDUCACION---------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Educacion{
    margin-top: 100px;
    color: white;
}

#educacion_contenidoCursos{

    font-family: 'Quicksand', sans-serif;
}

#educacion_img{

    margin-right: 100px;
}


#educacion_titulo{

    margin-top: -100px;
    margin-right: 250px;
}

#educacion_contenidoCursos{
    padding: 30px;
    padding-right: 100px;
}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*----HABILIDADES--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Habilidades{
    color: white;
    margin-top: 110px;
    padding-left: 100px;
}

h5{

    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}

h4{
    margin: 50px;
    padding: 50px;

    font-family: 'VT323', monospace;

    font-weight: 400;
}



#logo{
    padding: 20px;

}

#habilidades_img{

    padding-right: 100px;
    padding-top: 100px;
}


/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*----PROYECTOS--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Proyectos{

    margin-top: 100px;
    color: white;
    padding: 100px;
}
#proyectos_contenido{
    margin-top: 100px;
}
.card{

    margin: 10px;
    margin-top: 10px;
    padding: 5px;

}

  
#proyectos_planeta{

    scale: 50%;
    overflow:auto;
    margin-top: -90px;
}

#proyecto_tarjetas{

    margin-top: 50px;
    padding: 50px;
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*------FOOTER------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
footer{
    background-color: #4412a8;
    padding: 50px;
}

#footer_img{

    padding: 5px;
    margin-left: 80px;
}

#footer_titulo{

    color: white;
    padding-top: 100px;
    padding-right: 100px;
    

}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/











/*------------------------------------------------------------------------------------*/
/*----video backgrond--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------*/  
