/*------------------------------------------------------------------------------------*/
/*------FONT------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mina:wght@400;600;700&family=Quicksand:wght@400;600;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*------------------------------------------------------------------------------------*/



video {
    position: fixed;
    left: 0;
    top: 0;
    height:200%;
    z-index: -1;
}
/*------------------------------------------------------------------------------------*/
/*-----NAVEGADOR-------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
nav{
    font-family: 'Quicksand', sans-serif;
    padding: 2px;
}

li{
    padding-left: 3px;
    padding-right: 3px;

    :hover{

        background-color: #4412a8;
    }
}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------*/
/*-----INICIO-------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
#Inicio{

    

    color: white;
    padding-top: 150px;
    
}

h1{

    font-family: 'Leckerli One', cursive;
    font-weight: 400;

}

#subtitulo_inicio{

    font-family: 'VT323', monospace;
    font-weight: 900;
    margin: 30px;
}

#contacto_inicio{

    scale:60%;

    :hover{

        cursor: pointer;
        scale: 120%;
    }
}


/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*---SOBRE MI---------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#SobreMi{
    margin-top: 250px;
    color: white;
}




#sobreMi_img_fotoPerfil{
    
    scale: 75%;
}



#sobreMi_img_cuadradoEstrella1{
    margin-left: 400px;
    scale: 30%;
    margin-top: -100px;
}

#sobreMi_img_cuadradoEstrella2{

    scale: 30%;
    margin-left: -400px;
    margin-top: -250px;
}
#foto{
    margin-top: -520px;
}

#fondo{
    margin-top: -150px;
}

h2{
    font-family: 'Mina', sans-serif;
    font-style: bold;
    margin: 5px;
}

p{
    font-family: 'Quicksand', sans-serif;
}

#inicio_tityParr{

    padding-top: 200px;
    padding-right: 150px;
   
    
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*---EDUCACION---------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Educacion{
    margin-top: 100px;
    color: white;
}

#educacion_contenidoCursos{

    font-family: 'Quicksand', sans-serif;
}

#educacion_img{

    margin-right: 100px;
}


#educacion_titulo{

    margin-top: -100px;
    margin-right: 250px;
}

#educacion_contenidoCursos{
    margin-top: 150px;
    padding: 30px;
    padding-right: 100px;
}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*----HABILIDADES--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Habilidades{
    color: white;
   padding-top: 200px;
    padding-left: 100px;
}

h5{

    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}

h4{
    margin: 50px;
    padding: 70px;

    font-family: 'VT323', monospace;

    font-weight: 400;
}



#logo{
    padding: 20px;

}

#habilidades_img{

    padding-right: 100px;
    padding-top: 100px;
}


/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*----PROYECTOS--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Proyectos{

    margin-top: 100px;
    color: white;
    padding: 100px;
}
#proyectos_contenido{
    margin-top: 100px;
}
.card{

    margin: 10px;
    margin-top: 10px;
    padding: 5px;

}


#proyectos_planeta{

    scale: 50%;
    overflow:auto;
    margin-top: -90px;
}

#proyecto_tarjetas{
    margin-left: 200px;
    margin-top: 50px;
    padding: 50px;
}

#proyect_tarjeta_indv:hover{

    box-shadow: 1px -2px 135px 19px rgba(255,255,255,0.77);
    -webkit-box-shadow: 1px -2px 135px 19px rgba(255,255,255,0.77);
    -moz-box-shadow: 1px -2px 135px 19px rgba(255,255,255,0.77);

    scale: 115%;
}

#proyecto_tarjetas2{
    display: none;
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/*------FOOTER------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
footer{
    background-color: #4412a8;
    padding: 50px;
}

#footer_img{

    padding: 5px;
    margin-left: 80px;
}

#footer_titulo{

    color: white;
    padding-top: 100px;
    padding-right: 100px;
    

}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/


    @media screen and (max-width:1280px) {
    



                video {
                    position: fixed;
                    left: 0;
                    top: 0;
                    height:200%;
                    z-index: -1;
                }
                /*------------------------------------------------------------------------------------*/
                /*-----NAVEGADOR-------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                nav{
                    font-family: 'Quicksand', sans-serif;
                    padding: 2px;
                }

                li{
                    padding-left: 3px;
                    padding-right: 3px;

                    :hover{

                        background-color: #4412a8;
                    }
                }
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/


                /*------------------------------------------------------------------------------------*/
                /*-----INICIO-------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                #Inicio{

                    
                
                    color: white;
                    padding-top: 150px;
                    
                }

                h1{

                    font-family: 'Leckerli One', cursive;
                    font-weight: 400;
                
                }

                #subtitulo_inicio{

                    font-family: 'VT323', monospace;
                    font-weight: 900;
                    margin: 30px;
                }

                #contacto_inicio{

                    scale:60%;

                    :hover{

                        cursor: pointer;
                        scale: 120%;
                    }
                }


                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*---SOBRE MI---------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #SobreMi{
                    margin-top: 250px;
                    color: white;
                }




                #sobreMi_img_fotoPerfil{
                    
                    scale: 75%;
                }



                #sobreMi_img_cuadradoEstrella1{
                    margin-left: 400px;
                    scale: 30%;
                    margin-top: -100px;
                }

                #sobreMi_img_cuadradoEstrella2{

                    scale: 30%;
                    margin-left: -400px;
                    margin-top: -250px;
                }
                #foto{
                    margin-top: -520px;
                }

                #fondo{
                    margin-top: -150px;
                }

                h2{
                    font-family: 'Mina', sans-serif;
                    font-style: bold;
                    margin: 5px;
                }

                p{
                    font-family: 'Quicksand', sans-serif;
                }

                #inicio_tityParr{

                    margin-top: -150px;
                   
                    
                }

                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*---EDUCACION---------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #Educacion{
                    margin-top: 100px;
                    color: white;
                }

                #educacion_contenidoCursos{

                    font-family: 'Quicksand', sans-serif;
                }

                #educacion_img{

                    margin-right: 100px;
                }


                #educacion_titulo{

                    margin-top: -100px;
                    margin-right: 250px;
                }

                #educacion_contenidoCursos{
                    padding: 30px;
                    padding-right: 100px;
                }
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*----HABILIDADES--------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #Habilidades{
                    color: white;
                   padding-top: 110px;
                    padding-left: 100px;
                }

                h5{

                    font-family: 'Quicksand', sans-serif;
                    padding: 5px;
                }

                h4{
                    margin: 50px;
                    padding: 50px;

                    font-family: 'VT323', monospace;

                    font-weight: 400;
                }



                #logo{
                    padding: 20px;

                }

                #habilidades_img{

                    padding-right: 100px;
                    padding-top: 100px;
                }


                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*----PROYECTOS--------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #Proyectos{

                    margin-top: 100px;
                    color: white;
                    padding: 100px;
                }
                #proyectos_contenido{
                    margin-top: 100px;
                }
                .card{

                    margin: 10px;
                    margin-top: 10px;
                    padding: 5px;

                }

                
                #proyectos_planeta{

                    scale: 50%;
                    overflow:auto;
                    margin-top: -90px;
                }

                #proyecto_tarjetas{

                    margin-top: 50px;
                    padding: 50px;
                }

                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*------FOOTER------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                footer{
                    background-color: #4412a8;
                    padding: 50px;
                }

                #footer_img{

                    padding: 5px;
                    margin-left: 80px;
                }

                #footer_titulo{

                    color: white;
                    padding-top: 100px;
                    padding-right: 100px;
                    

                }
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

    }

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



    @media screen and (max-width:960px) {
    



                video {
                    position: fixed;
                    left: 0;
                    top: 0;
                    height:200%;
                    z-index: -1;
                }
                /*------------------------------------------------------------------------------------*/
                /*-----NAVEGADOR-------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                nav{
                    font-family: 'Quicksand', sans-serif;
                    padding: 2px;
                }

                li{
                    padding-left: 3px;
                    padding-right: 3px;

                    :hover{

                        background-color: #4412a8;
                    }
                }
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/


                /*------------------------------------------------------------------------------------*/
                /*-----INICIO-------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                #Inicio{

                    
                
                    color: white;
                    padding-top: 150px;
                    
                }

                h1{

                    font-family: 'Leckerli One', cursive;
                    font-weight: 400;
                
                }

                #subtitulo_inicio{

                    font-family: 'VT323', monospace;
                    font-weight: 900;
                    margin: 30px;
                }

                #contacto_inicio{

                    scale:60%;

                    :hover{

                        cursor: pointer;
                        scale: 120%;
                    }
                }


                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*---SOBRE MI---------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #SobreMi{

                    margin-top: 250px;
                    color: white;
                }

                #sobreMi_capas_fotoPerfil{
                    margin-top: 150px;
                }
                #sobreMi_img_nubes{

                    scale: 80%;
                }



                #sobreMi_img_fotoPerfil{
                    margin-top: 50px;
                    scale: 75%;
                }



                #sobreMi_img_cuadradoEstrella1{
                    margin-left: 400px;
                    scale: 30%;
                    margin-top: -100px;
                }

                #sobreMi_img_cuadradoEstrella2{

                    scale: 30%;
                    margin-left: -400px;
                    margin-top: -250px;
                }
                #foto{
                    margin-top: -520px;
                }

                #fondo{
                    margin-top: -150px;
                }

                h2{
                    font-family: 'Mina', sans-serif;
                    font-style: bold;
                    margin: 5px;
                }

                p{
                    font-family: 'Quicksand', sans-serif;
                }

                

                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*---EDUCACION---------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #Educacion{
                    margin-top: 100px;
                    color: white;
                }

                #educacion_titulo_img{
                    margin-top: 100px;
                }

                #educacion_contenidoCursos{

                    font-family: 'Quicksand', sans-serif;
                }

                #educacion_img{

                    margin-right: 100px;
                }


                #educacion_titulo{

                    margin-top: -100px;
                    margin-right: 250px;
                }

                #educacion_contenidoCursos{
                    padding: 30px;
                    padding-right: 100px;
                }
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*----HABILIDADES--------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #Habilidades{
                    color: white;
                   padding-top: 110px;
                    padding-left: 100px;
                }

                h5{

                    font-family: 'Quicksand', sans-serif;
                    padding: 5px;
                }

                h4{
                    margin: 50px;
                    padding: 50px;

                    font-family: 'VT323', monospace;

                    font-weight: 400;
                }



                #logo{
                    padding: 20px;

                }

                #habilidades_img{

                    padding-right: 100px;
                    padding-top: 100px;
                }


                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*----PROYECTOS--------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                #Proyectos{

                    margin-top: 100px;
                    color: white;
                    padding: 100px;
                }

                #proyectos_contenido{
                    margin-top: 100px;
                }
                .card{

                    margin: 10px;
                    margin-top: 10px;
                    padding: 5px;

                }

                
                #proyectos_planeta{

                    scale: 50%;
                    overflow:auto;
                    margin-top: -90px;
                }

                #proyecto_tarjetas{

                    margin-top: 50px;
                    padding: 10px;
                    margin-left: 150px;

                }

                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

                /*------------------------------------------------------------------------------------*/
                /*------FOOTER------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                footer{
                    background-color: #4412a8;
                    padding: 50px;
                }

                #footer_img{

                    padding: 5px;
                    margin-left: 80px;
                }

                #footer_titulo{

                    color: white;
                    padding-top: 100px;
                    padding-right: 100px;
                    

                }
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/
                /*------------------------------------------------------------------------------------*/

    }

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width:768px){
    

        

        /*------------------------------------------------------------------------------------*/
        /*---SOBRE MI---------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        #SobreMi{
            margin-top: 150px;
            color: white;
        }


        #sobreMi_img_nubes{

            scale: 100%;
        }

        #sobreMi_img_fotoPerfil{
            margin-top: -px;
            scale: 75%;
        }



        #sobreMi_img_cuadradoEstrella1{
            margin-left: 400px;
            scale: 30%;
            margin-top: -100px;
        }

        #sobreMi_img_cuadradoEstrella2{

            scale: 30%;
            margin-left: -400px;
            margin-top: -250px;
        }
        

        #inicio_tityParr{

            padding-top: 100px;
            padding-right: 200px;
            margin-left: 200px;
            
        }

        /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        /*------------------------------------------------------------------------------------*/
        /*---EDUCACION---------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        #Educacion{
            margin-top: 100px;
            color: white;
        }

        #educacion_contenidoCursos{

            font-family: 'Quicksand', sans-serif;
            margin-top: 100px;
            padding-left: 50px;
        }

        #educacion_img{

            margin-right: 100px;
        }


        #educacion_titulo{

            margin-top: -100px;
            margin-right: 250px;
        }

        #educacion_contenidoCursos{
            padding: 30px;
            padding-right: 100px;
        }
       
        /*------------------------------------------------------------------------------------*/
        /*----PROYECTOS--------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        #Proyectos{

            margin-top: 100px;
            color: white;
            padding: 100px;
        }
        #proyectos_contenido{
            margin-top: 100px;
        }
        .card{

            margin: 10px;
            margin-top: 10px;
            padding: 5px;

        }

        
        #proyectos_planeta{

            scale: 50%;
            overflow:auto;
            margin-top: -90px;
        }

        #proyecto_tarjetas{

            margin-top: 50px;
            padding: 50px;
            margin-left: -30px;
        }

        /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        /*------------------------------------------------------------------------------------*/
        /*------FOOTER------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/
        footer{
            background-color: #4412a8;
            padding: 50px;
        }

        #footer_img{

            padding: 5px;
            margin-left: 80px;
        }

        #footer_titulo{

            color: white;
            padding-top: 100px;
            padding-right: 100px;
            

        }
        /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/


    }
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/



@media screen and (max-width:480px){
       
                    /*------------------------------------------------------------------------------------*/
            /*---SOBRE MI---------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/

            #SobreMi{
                margin-top: 250px;
                color: white;
            }



            #sobreMi_img_nubes{
                scale: 75%;
            }

            #sobreMi_img_fotoPerfil{
                
                scale: 73%;
            }



            #sobreMi_img_cuadradoEstrella1{
                display: none;
            }

            #sobreMi_img_cuadradoEstrella2{

                display: none;
            }
            #foto{
                margin-top: -520px;
            }

            #fondo{
                margin-top: -150px;
            }

            h2{
                font-family: 'Mina', sans-serif;
                font-style: bold;
                margin: 5px;
            }

            

            #inicio_tityParr{

                padding-top: 150px;
                
                margin-right: 200px;

                margin-left: 130px;
            
                
            }

            /*------------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/
            /*---EDUCACION---------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/

            #Educacion{
                margin-top: 100px;
                color: white;
                margin-left: 50px;
            }
         /*------------------------------------------------------------------------------------*/
        /*----HABILIDADES--------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        #Habilidades{
            color: white;
            padding-top: 200px;
            padding-left: 50px;
        }   
           

        /*------------------------------------------------------------------------------------*/
/*----PROYECTOS--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Proyectos{

    margin-top: 100px;
    color: white;
    
}



#proyectos_planeta{

    display: none;
}



#proyecto_tarjetas{
    display: none;
}

#proyecto_tarjetas2{

    display: block;
}

/*------------------------------------------------------------------------------------*/
/*------FOOTER------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
footer{
    background-color: #4412a8;
    padding: 50px;
}

#footer_img{

    display: none;
    
    
}

#footer_titulo{

    color: white;
    margin-left: 60px;
    
    

}
        

    }
  

    }
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:380px){
        

                   /*------------------------------------------------------------------------------------*/
            /*---SOBRE MI---------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/

            #SobreMi{
                margin-top: 100px;
                color: white;
            }



            #sobreMi_img_nubes{
                
                scale: 75%;
            }

            #sobreMi_img_fotoPerfil{
                margin-top: 94px;
                scale: 75%;
            }



            #sobreMi_img_cuadradoEstrella1{
                display: none;
            }

            #sobreMi_img_cuadradoEstrella2{

                display: none;
            }
            #foto{
                margin-top: -520px;
            }

            #fondo{
                margin-top: -150px;
            }

            h2{
                font-family: 'Mina', sans-serif;
                font-style: bold;
                margin: 5px;
            }

            

            #inicio_tityParr{

                padding-top: 200px;
                
                margin-right: 200px;

                margin-left: 100px;
            
                
            }

            /*------------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/
            /*---EDUCACION---------------------------------------------------------------------------------*/
            /*------------------------------------------------------------------------------------*/

            #Educacion{
                margin-top: 100px;
                color: white;
                margin-left: 50px;
            }
         /*------------------------------------------------------------------------------------*/
        /*----HABILIDADES--------------------------------------------------------------------------------*/
        /*------------------------------------------------------------------------------------*/

        #Habilidades{
            color: white;
            padding-top: 200px;
            padding-left: 50px;
        }   
           
        /*------------------------------------------------------------------------------------*/
/*----PROYECTOS--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

#Proyectos{

    margin-top: 100px;
    color: white;
    
}



#proyectos_planeta{

    display: none;
}



#proyecto_tarjetas{
    display: none;
}

#proyecto_tarjetas2{

    display: block;
}

/*------------------------------------------------------------------------------------*/
/*------FOOTER------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
footer{
    background-color: #4412a8;
    padding: 50px;
}

#footer_img{

    display: none;
    
    
}

#footer_titulo{

    color: white;
    margin-left: 60px;
    
    

}
        

    }

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
 
